body {	
    background-color: #04599F;
    font-size: 10px;
    font-family: Verdana,Arial, Helvetica, Sans-serif;
    margin: 0px;
}
p {
    font-size: 10px;
    font-family: Verdana,Arial, Helvetica, Sans-serif;
    margin: 0px;
}
